@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Mukta:wght@200;300;400;500;600;700;800&family=Playwrite+NZ+Basic:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dry-color);
}
.container {
  width: 400px;
  background-color: var(--bg-active-color);
  padding: var(--padding-lg);
  border-radius: var(--border-radius-xl);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  gap: var(--gutter-lg);
}
.header,
.body {
  border-bottom: 1.5px solid var(--text-secondary-color);
  padding-bottom: var(--padding-sm);
  width: 100%;
}
.header h2 {
  font-size: var(--font-size-2xl);
}
.container,
.header,
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gutter-md);
}
.body p {
  font-size: var(--font-size-lg);
}
.body button {
  background-color: var(--bg-safe-color);
  color: var(--bg-active-color);
  border: none;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--border-radius-lg);
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
.body button::before {
  content: "";
  position: absolute;
  background-color: var(--bg-safedark-color);
  bottom: 0;
  height: 3px;
  right: 0;
  left: 0;
}
.body button:hover {
  cursor: pointer;
  background-color: var(--bg-safedark-color);
}
.body button:active {
  transform: scale(0.98);
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--margin-2xl);
}
.footer-btn {
  padding: var(--padding-sm) var(--padding-md);
  border: none;
  border-radius: var(--border-radius-lg);
  color: var(--text-primary-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
}
.footer-btn:active {
  transform: scale(0.98);
}
#teacher-btn {
  background-color: var(--bg-safe-color);
}
#student-btn {
  background-color: var(--bg-trust-color);
}
.footer-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  right: 0;
  left: 0;
}
#student-btn::before {
  background-color: var(--bg-trustdark-color);
}
#student-btn:hover {
  background-color: var(--bg-trustdark-color);
}
#teacher-btn::before {
  background-color: var(--bg-safedark-color);
}
#teacher-btn:hover {
  background-color: var(--bg-safedark-color);
}
